.index {
  .header-btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    
    @include respond-max(560px) {
      flex-direction: column;

      .button-group {
        margin-bottom: 12px;

        button {
          width: 100%;
        }
      }
    }

    @include respond-max(340px) {
      .button-group {
        button {
          width: 100%;
        }
      }
    }
  
    .button-group {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        min-width: 100px;
      }
    }

    .form-group .select {
      max-width: 72px;

      @include respond-max(560px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.styles {
  overflow-y: auto;
  
  .elements-group {
    display: flex;
    flex-wrap: wrap;
  
    > * {
      margin-right: 12px;
      margin-bottom: 12px;
    }
  }
}
