.index {
  .header-btn-group {
    @include flex-justify(space-between);
    margin-bottom: 14px;
    
    @include respond-max(560px) {
      flex-direction: column;

      .button-group {
        margin-bottom: 12px;

        button {
          width: 100%;
        }
      }
    }
  
    .button-group {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        min-width: 100px;
        padding-top: 9px;
        padding-bottom: 9px;

        @include respond-max(450px) {
          min-width: auto;
          padding-left: $space-1;
          padding-right: $space-1;
        }
      }
    }

    .form-group .select {
      padding-top: 9.5px;
      padding-bottom: 9.5px;
      max-width: 80px;

      @include respond-max(560px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.styles {
  overflow-y: auto;
  
  .elements-group {
    display: flex;
    flex-wrap: wrap;
  
    > * {
      margin-right: 12px;
      margin-bottom: 12px;
    }
  }
}
