body {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: $color-dark;
  background-color: $color-light;
}

::selection {
  color: $color-light;
  background-color: $color-primary;
}