// General
$rounded-sm: 4px;
$rounded-md: 6px;
$rounded-lg: 9px;
$finger-size: 40px;
$border-radius: 4px;
$transition: all 300ms linear;

// Colors
$color-black: #000;
$color-white: #fff;

$color-dark: #141414;
$color-light: #f7f8f9;

$color-gray-100: #f7fafc;
$color-gray-200: #edf2f7;
$color-gray-300: #e2e8f0;
$color-gray-400: #cbd5e0;
$color-gray-500: #a0aec0;
$color-gray-600: #718096;
$color-gray-700: #4a5568;
$color-gray-800: #2d3748;
$color-gray-900: #1a202c;

$color-primary: #005991;
$color-primary-dark: #004774;
$color-primary-darker: #003557;

$color-secondary: #89CA02;

$color-error: hsl(355, 69%, 40%);
$color-error-light: hsl(353, 69%, 95%);
$color-warning: hsl(48, 69%, 40%);
$color-warning-light: hsl(48, 69%, 95%);
$color-success: hsl(115, 69%, 40%);
$color-success-light: hsl(115, 69%, 90%);


// Spaces
$space-1: 8px;
$space-2: 12px;
$space-3: 16px;
$space-4: 20px;
$space-5: 24px;
$space-6: 28px;
$space-7: 32px;
$space-8: 36px;
$space-9: 40px;
$space-10: 44px;


// Breakpoints
$bp-xs: 320px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;