.alert {
  position: fixed;
  top: 72px;
  right: 24px;
  z-index: 1;
  padding: 14px;
  @include flex(center, space-between);
  flex-wrap: wrap;
  box-shadow: 0 3px 6px rgba(20, 20, 20, 0.2);
  border-radius: 4px;
  font-size: 14px;
  transition: 200ms;
  transform: translateX(16px);
  transform-origin: bottom left;
  // hide element
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 14px;

    p {
      margin: 0;
      align-self: flex-end;
    }

    svg {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }

  button {
    border: 0;
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
  }

  &-error,
  &-warning,
  &-success {
    button {
      color: $color-light;
    }
  }

  &-info {
    color: $color-dark;
    background-color: #fff;
  }

  &-error {
    color: $color-light;
    background-color: $color-error;
  }

  &-warning {
    color: $color-light;
    background-color: $color-warning;
  }

  &-success {
    color: $color-light;
    background-color: $color-success;
  }

  @include respond-max(400px) {
    .content {
      svg {
        margin-right: 14px;
      }
      
      p {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }
}

