.badge {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-align: center;
  border-radius: 13px;
  padding: 3px 12px;

  // &-gray,
  &.other {
    color: #2d3748;
    background-color: #e6f5ff;
  }

  // &-red,
  &.work {
    color: #9b2c2c;
    background-color: #ffecec;
  }

  // &-blue,
  &.personal {
    color: #2c5282;
    background-color: #e4f6ff;
  }

  // &-green,
  &.insurance {
    color: #276749;
    background-color: #dfffe9;
  }

  // &-yellow,
  &.financial {
    color: #975a16;
    background-color: #ffffe1;
  }

  // &-orange,
  &.design {
    color: #9B4221;
    background-color: #fff7e7;
  }

  // &-purple,
  &.ownership {
    color: #553c9a;
    background-color: #f3e7ff;
  }

  &-upp {
    text-transform: uppercase;
  }
}