.btn {
  -webkit-appearance: button;
  appearance: button;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
  border-radius: $rounded-sm;
  padding: 10px $space-3;
  transition: all 170ms ease-in-out;

  &:focus {
    outline: none;
  }

  &-cta {
    color: $color-light;
    background-color: $color-secondary;

    @include buttonEffects($color-secondary);
  }

  &-primary {
    color: $color-light;
    background-color: $color-primary;

    @include buttonEffects($color-primary);
  }

  &-default {
    color: $color-gray-700;
    background-color: $color-white;
    border: 1px solid $color-gray-300;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    transition: all 150ms ease-in;

    @include buttonEffects($color-white, default);
  }

  &-danger {
    color: $color-light;
    background-color: $color-error;

    @include buttonEffects($color-error);
  }
  
  &-success {
    color: $color-light;
    background-color: $color-success;

    @include buttonEffects($color-success);
  }

  &-icon {
    font-size: 14px;
    @include flex(center, center);
    
    .icon {
      width: 18px;
      height: 18px;
      margin-right: $space-2;
    }

    &.no-label {
      padding: $space-1 + 2px $space-2;

      svg {
        margin-right: 0;
      }
    }
  }

  &-small {
    padding: 6px $space-3;
  }

  &-block {
    width: 100%;
    display: block;
  }
}

.button-group {
  height: fit-content;
  border-radius: $rounded-sm;
  border: 1px solid $color-gray-300;

  button.group {
    border: 0;
    border-radius: 0;

    &:not(:last-child) {
      border-right: 1px solid $color-gray-300;
    }

    &:first-child {
      border-top-left-radius: $rounded-sm;
      border-bottom-left-radius: $rounded-sm;
    }

    &:last-child {
      border-top-right-radius: $rounded-sm;
      border-bottom-right-radius: $rounded-sm;
    }
  }
}