.form-group {
  display: flex;
  flex-direction: column;

  label {
    font-size: 13px;
    margin-bottom: 4px;
    color: $color-gray-600;
  }
  
  input,
  select {
    border: 0;
    width: 256px;
    font-size: 14px;
    padding: 9px 10px;
    border-radius: $rounded-sm;
    color: $color-dark;
    border: 1px solid $color-gray-300;
    background-color: $color-white;
    transition: all 150ms ease-in-out;

    &::placeholder {
      color: $color-gray-600;
    }

    &:hover {
      border-color: $color-gray-500;
    }

    &:focus {
      outline: 0;
      border-color: $color-primary;
    }

    &:disabled {
      cursor: no-drop;
      color: $color-dark;
      border-color: $color-gray-300;
      background-color: $color-gray-100;

      &:focus,
      &:hover {
        color: $color-dark;
        border-color: $color-gray-300;
        background-color: $color-gray-100;
      }
    }

  }

  .block {
    display: block;
    width: 100%;
  }

  .select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('../images/chevron-down.svg');
    background-position: right 6px center;
    background-repeat: no-repeat;
    background-size: 18px;
  }
}