.modal {
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.75);

  // hide element
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include respond-max($bp-sm) {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 $space-3 $space-5;
    @include flex-align(flex-end);
  }
  
  &-content {
    width: 100%;
    max-width: 560px;
    overflow: auto;
    margin-top: -212px;
    border-radius: $rounded-sm;
    background-color: $color-white;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);

    @include respond-max($bp-sm) {
      max-width: 100%;
    }
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  // Modal content elements
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-3 $space-5;

    h4 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.3px;
    }

    button {
      padding: 0;
      color: $color-gray-600;
      transition: all 200ms ease-in-out;

      &:hover {
        color: $color-gray-900;
      }

      .icon {
        width: 22px;
        height: 22px;
      }
    }
  }

  &-body {
    padding: $space-4 $space-5;

    p {
      color: $color-gray-600;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 $space-4 $space-3;

    @include respond-max($bp-sm) {
      flex-direction: column;
    }

    button {
      padding-left: 32px;
      padding-right: 32px;

      &:not(:last-child) {
        margin-right: 18px;
      }

      @include respond-max($bp-sm) {
        width: 100%;

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 12px;
        }
      }
    }
  }

  // info modal
  &.modal-info {
    .modal-content {
      max-width: 380px;
    }

    .modal-body {
      text-align: center;

      .icon {
        width: 34px;
        height: 34px;
        color: $color-success;
      }
      h3 {
        margin-bottom: 12px;
      }
      p {
        font-size: 15px;
      }
    }

    .modal-footer {
      text-align: center;

      a {
        cursor: pointer;
      }
    }
  }

  // input modal
  &.modal-input {

    .modal-body {
      padding-bottom: $space-6;
    }

    .form-group {
      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &.add-user {
        margin-bottom: $space-2;
        position: relative;

        input {
          padding-right: 102px;
        }

        button {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 8.3px $space-4;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  // qrcode modal
  &.modal-qrcode {
    text-align: center;

    .modal-content {
      max-width: 380px;
    }

    .modal-body {
      display: flex;
      align-items: center;
      flex-direction: column;

      .qrcode {
        padding: 18px;
        width: max-content;
        border-radius: $rounded-sm;
        background-color: $color-white;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

        img {
          width: 124px;
          height: 124px;
        }
      }

      h3 {
        margin-top: 24px;
        margin-bottom: 12px;
      }
      p {
        font-size: 15px;
      }
    }
  }

  // upload modal
  &.modal-upload {

    .modal-content {
      max-width: 400px;
    }

    .modal-body {
      text-align: center;
      
      .droparea {
        @include flex(center, center, column);
        width: 100%;
        padding: $space-5;
        border-radius: $rounded-sm;
        border: 2px dashed $color-gray-500;
        transition: all 250ms ease-in;

        &:hover {
          cursor: pointer;
          border-color: $color-primary;

          .icon-cloud-upload {
            color: $color-primary;
          }
        }

        .icon-cloud-upload {
          width: 44px;
          height: 44px;
          margin-bottom: $space-2;
          transition: all 200ms ease-in;
          color: $color-gray-500;
          pointer-events: none;
        }

        input {
          display: none;
          width: 100%;
          height: 100%;
          pointer-events: none;
        }

        p {
          font-size: 18px;
          font-size: 500;
          pointer-events: none;
        } 
      }

      .file {
        width: 100%;
        height: 100%;
        padding: 10px 18px;
        margin-top: $space-3;
        // border: 1px solid red;
        border-radius: $rounded-sm;
        box-shadow: 0 1px 4px rgba(20, 20, 20, 0.1);
        @include flex(center, space-between);
        transition: all 200ms ease-in-out;

        // Visibility
        z-index: -22;
        display: none;
        visibility: hidden;
        transform: translateY(-80px);
        pointer-events: none;

        &.have {
          z-index: 1;
          // display: flex;
          visibility: visible;
          transform: translateY(0);
          pointer-events: all;
        }

        &-type {
          height: 36px;
          @include flex();
          padding: 0 $space-4;
          margin-right: $space-5;
          border-radius: $rounded-sm;
          background-color: $color-primary;
          color: $color-light;
          font-size: 14px;
        }

        &-info {
          width: 100%;

          div {
            display: flex;
            justify-content: space-between;

            p {
              font-size: 14px;
            }
          }
        }

        .file-progress {
          // Reset the default appearance
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          // Get rid of default border in Firefox.
          border: none;

          width: 100%;
          height: 6px;
          
          &[value]::-webkit-progress-bar {
            background-color: #eee;
            border-radius: $rounded-md;
            // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
          }

          &[value]::-webkit-progress-value {
            background-color: $color-primary;
            border-radius: $rounded-md;
          }
        }
      }
    }
  }
}


.modal[data-animation="on"] {
  transition: opacity .3s, visibility .3s;

  .modal-content {
    will-change: transform;
    transform: translateY(15px);
    transition: all 200ms ease-in-out;
  }

  &.is-active .modal-content {
    transform: translateY(0);
  }
}