.modal {
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.75);

  // hide element
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include respond-max($bp-sm) {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 24px 24px;
    @include flex-align(flex-end);
  }
  
  &-content {
    overflow: auto;
    margin-top: -212px;
    border-radius: 4px;
    width: 100%;
    max-width: 560px;
    background-color: #ffffff;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);

    @include respond-max($bp-sm) {
      max-width: 100%;
    }
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  // Modal content elements
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-3 $space-5;

    h4 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.3px;
    }

    button {
      padding: 0;
      color: $color-gray-600;
      transition: all 200ms ease-in-out;

      &:hover {
        color: $color-gray-900;
      }

      .icon {
        width: 22px;
        height: 22px;
      }
    }
  }

  &-body {
    padding: $space-2 $space-5 $space-5;

    p {
      color: $color-gray-600;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $space-4 $space-5;

    @include respond-max($bp-sm) {
      flex-direction: column;
    }

    button {
      padding-left: 32px;
      padding-right: 32px;

      &:not(:last-child) {
        margin-right: 18px;
      }

      @include respond-max($bp-sm) {
        width: 100%;

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 12px;
        }
      }
    }
  }

  // info modal
  &.modal-info {
    @include respond-max($bp-sm) {
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 24px 24px;
      @include flex-align(flex-end);
    }

    .modal {
      &-content {
        max-width: 380px;

        @include respond-max($bp-sm) {
          max-width: 100%;
          width: 100%;
        }
      }

      &-body {
        text-align: center;
  
        .icon {
          width: 34px;
          height: 34px;
          color: $color-success;
        }
        h3 {
          margin-bottom: 12px;
        }
        p {
          font-size: 15px;
          font-weight: 500;
        }
      }

      &-footer {
        padding-top: 6px;
        text-align: center;

        a {
          cursor: pointer;
        }
      }
    }
  }
}



.modal[data-animation="on"] {
  transition: opacity .3s, visibility .3s;

  &-content {
    will-change: transform;
    transition: transform .3s ease-in-out;
    transform: translateY(10%);
  }

  &.is-active .modal-content {
    transform: translateY(0);
  }
}