<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="css/app.css">
  <title>Recheck GUI</title>
</head>
<body>
  <!-- SVG Icons -->
  @include('./partials/svg-icons.html')

  <div class="h-screen">
    @include('./partials/sidebar.html')
    
    <div class="content">
      @include('./partials/header.html')

      <main class="main" role="main">
        <h2>Admin</h2>
      </main>
    </div>
  </div>

  <script src="scripts/app.js"></script>
</body>
</html>