<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/app.css">
  <title>Recheck GUI</title>
</head>
<body>
  <!-- SVG Icons -->
  @include('./partials/svg-icons.html')

  <div class="h-screen">
    @include('./partials/sidebar.html')
    
    <div class="content">
      @include('./partials/header.html')

      <main class="main" role="main">
        <h2 style="margin-top: 0;">Recheck BV &ndash; Style Guide</h2>
        
        <div class="buttons">
          <h4>Buttons</h4>
          <div class="elements-group">
            <button class="btn btn-success">Success Button</button>
            <button class="btn btn-danger">Danger Button</button>
          </div>
          <div class="elements-group">
            <button class="btn btn-small btn-default">
              Small Default
            </button>
            <button class="btn btn-small btn-primary">
              Small Primary
            </button>
            <button class="btn btn-small btn-cta">
              Small CTA
            </button>
          </div>
          <div class="elements-group">
            <button class="btn btn-default" disabled>
              Disabled Default
            </button>
            <button class="btn btn-primary" disabled>
              Disabled Primary
            </button>
            <button class="btn btn-cta" disabled>
              Disabled CTA
            </button>
          </div>
          <div class="elements-group">
            <button class="btn btn-icon btn-default">
              <svg class="icon icon-team">
                <use xlink:href="#icon-team"></use>
              </svg>
              Default w/ Icon
            </button>
            <button class="btn btn-icon btn-primary">
              <svg class="icon icon-team">
                <use xlink:href="#icon-team"></use>
              </svg>
              Primary w/ Icon
            </button>
            <button class="btn btn-icon btn-cta">
              <svg class="icon icon-team">
                <use xlink:href="#icon-team"></use>
              </svg>
              CTA w/ Icon
            </button>
            <button class="btn btn-icon btn-default">
              <div class="icon loader loader-sm"></div>
              Default w/ Loader
            </button>
          </div>
          <div class="elements-group">
            <button class="btn btn-default">
              Default
            </button>
            <button class="btn btn-primary">
              Primary
            </button>
            <button class="btn btn-cta">
              CTA
            </button>
          </div>
          <div class="elements-group">
            <button class="btn btn-icon no-label btn-default">
              <svg class="icon icon-team">
                <use xlink:href="#icon-team"></use>
              </svg>
            </button>
            <button class="btn btn-icon no-label btn-primary">
              <svg class="icon icon-team">
                <use xlink:href="#icon-team"></use>
              </svg>
            </button>
            <button class="btn btn-icon no-label btn-cta">
              <svg class="icon icon-team">
                <use xlink:href="#icon-team"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="inputs">
          <h4>Form Elements</h4>
          <div class="elements-group">
            <div class="form-group">
              <label for="nameInput">First Name</label>
              <input type="text" name="firstName" id="nameInput" class="input" placeholder="Just input..." >
            </div>
            <div class="form-group">
              <label for="nameDisabled">First Name (Disabled)</label>
              <input type="text" name="firstName" id="nameDisabled" class="input" placeholder="Just input..." disabled>
            </div>
            <div class="form-group">
              <label for="selectInput">Dropdown</label>
              <select name="type" id="selectInput" class="select">
                <option value="">Value</option>
                <option value="">Value</option>
                <option value="">Value</option>
                <option value="">Value</option>
                <option value="">Value</option>
                <option value="">Value</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-dialogs">
          <h4>Modals</h4>

          <div class="elements-group">
            <button type="button" class="btn btn-primary modal-btn" data-type="info">
              Show Info Modal
            </button>
            <button type="button" class="btn btn-primary modal-btn">
              Show Basic Modal
            </button>
            <button type="button" class="btn btn-primary modal-btn" data-type="input">
              Show Input Modal
            </button>
            <button type="button" class="btn btn-primary modal-btn" data-type="qrcode">
              Show QR Code Modal
            </button>
          </div>

          @include('./elements/modal.html')
        </div>
        <div class="alerts">
          <h4>Alerts</h4>

          <div class="elements-group">            
            <button type="button" class="btn btn-primary alert-btn" data-type="info">
              Trigger Info Alert
            </button>
            <button type="button" class="btn btn-primary alert-btn" data-type="error">
              Trigger Error Alert
            </button>
            <button type="button" class="btn btn-primary alert-btn" data-type="warning">
              Trigger Warning Alert
            </button>
            <button type="button" class="btn btn-primary alert-btn" data-type="success">
              Trigger Success Alert
            </button>
          </div>
          @include('./elements/alert.html')
        </div>
        <div class="badges">
          <h4>Badges</h4>

          <div class="elements-group">
            <span class="badge badge-red">Category</span>
            <span class="badge badge-blue">Category</span>
            <span class="badge badge-green">Category</span>
            <span class="badge badge-yellow">Category</span>
            <span class="badge badge-orange">Category</span>
            <span class="badge badge-purple">Category</span>
          </div>
        </div>
        <div class="loaders">
          <h4>Loaders</h4>
          
          <div class="elements-group">
            <div class="loader"></div>
            <div class="loader loader-md"></div>
            <div class="loader loader-sm"></div>
          </div>
        </div>

      </main>
    </div>
  </div>

  <script src="scripts/app.js"></script>
</body>
</html>