<!DOCTYPE html>
<html lang="en">
<head>
  @include('./partials/head.html')
</head>
<body>
  <!-- SVG Icons -->
  @include('./partials/svg-icons.html')

  <div class="h-screen">
    @include('./partials/sidebar-view.html')
    
    <div class="content">
      @include('./partials/header.html')

      <main class="main index" role="main">
        <h2 style="margin-top: 0;">Viewer</h2>

        <div>
          <audio controls>
            <source src="" type="audio/ogg">
            <source src="" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
        <div>
          <video width="720" controls>
            Your browser does not support HTML5 video.
          </video>
        </div>
      </main>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>