<div class="sidebar">
  <div class="sidebar-overlay"></div>
  <div class="sidebar-container">
    <div class="sidebar-header">
      <a href="/">
        <img src="images/recheck-logo.png" alt="ReCheck BV" class="logo-img" />
      </a>
      <p style="color: #fff;">RCT 15.22</p>
      <button class="close-button btn btn-icon no-label">
        <svg class="icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
    </div>
    <button class="btn btn-cta btn-icon  btn-upload">
      <svg class="icon icon-upload">
        <use xlink:href="#icon-upload"></use>
      </svg>
      Upload File
    </button>
    <strong class="title">Main Menu</strong>
    <nav class="nav">
      <ul class="nav--list">
        <li class="nav--item is-active">
          <a href="/index.html" class="nav--link">
            <span>
              <svg class="icon icon-home">
                <use xlink:href="#icon-home"></use>
              </svg>
              Documents
            </span>
            <svg class="icon icon-arrow-right">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </a>
          <ul class="sub-list">
            <li class="sub-list--item">
              <a href="#" class="sub-list--link">Uploaded</a>
            </li>
            <li class="sub-list--item">
              <a href="#" class="sub-list--link">Sent</a>
            </li>
            <li class="sub-list--item">
              <a href="#" class="sub-list--link">Inbox</a>
            </li>
          </ul>
        </li>
        <li class="nav--item">
          <a href="#" class="nav--link">
            <span>
              <svg class="icon icon-users">
                <use xlink:href="#icon-users"></use>
              </svg>
              Contacts
            </span>
          </a>
        </li>
        <li class="nav--delimiter" />
        <li class="nav--item">
          <a href="#" class="nav--link">
            <span>
              <svg class="icon icon-team">
                <use xlink:href="#icon-team"></use>
              </svg>
              Admin
            </span>
            <svg class="icon icon-arrow-right">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </a>
          <ul class="sub-list">
            <li class="sub-list--item">
              <a href="#" class="sub-list--link">Approved</a>
            </li>
            <li class="sub-list--item">
              <a href="#" class="sub-list--link">Pending</a>
            </li>
            <li class="sub-list--item">
              <a href="#" class="sub-list--link">Admins</a>
            </li>
            <li class="sub-list--item">
              <a href="#" class="sub-list--link">More..</a>
            </li>
          </ul>
        </li>
        <li class="nav--item">
          <a href="./styles.html" class="nav--link">
            <span>
              <svg class="icon icon-team">
                <use xlink:href="#icon-team"></use>
              </svg>
              Style Guide
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
