<div class="sidebar is-active">
  <div class="sidebar-overlay"></div>
  <div class="sidebar-container">
    <div class="sidebar-header">
      <a href="/">
        <img src="images/recheck-logo.png" alt="ReCheck BV" class="logo-img" />
      </a>
      <button class="close-button btn btn-icon no-label">
        <svg class="icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
    </div>
    <button class="btn btn-cta btn-icon btn-upload">
      <svg class="icon icon-download">
        <use xlink:href="#icon-download"></use>
      </svg>
      Download Data
    </button>
    <strong class="title">Main Menu</strong>
    <nav class="nav">
      <ul class="nav--list">
        <li class="nav--item is-active">
          <a href="#" class="nav--link">
            viewer sidebar content
          </a>
        </li>
      </ul>
    </nav>

    <footer class="footer">
      <p>Copyright &copy; 2016
        <script>
          new Date().getFullYear() > 2016 && document.write(" - " + new Date().getFullYear());
        </script>
      </p>
      <p>ReCheck B.V. All rights reserved.</p>
    </footer>
  </div>
</div>
