<div class="alert alert-info">
  <div class="content">
    <svg class="icon icon-info">
      <use xlink:href="#icon-info"></use>
    </svg>
    <b>Info:</b> &nbsp; Lorem ipsum dolor sit amet...
  </div>
  <button type="button">OK</button>
</div>

<div class="alert alert-error">
  <div class="content">
    <svg class="icon icon-error">
      <use xlink:href="#icon-error"></use>
    </svg>
    <b>Error:</b> &nbsp; Lorem ipsum dolor sit amet...
  </div>
  <button type="button">OK</button>
</div>

<div class="alert alert-warning">
  <div class="content">
    <svg class="icon icon-warning">
      <use xlink:href="#icon-warning"></use>
    </svg>
    <b>Warning:</b> &nbsp; Lorem ipsum dolor sit amet...
  </div>
  <button type="button">OK</button>
</div>

<div class="alert alert-success">
  <div class="content">
    <svg class="icon icon-success">
      <use xlink:href="#icon-success"></use>
    </svg>
    <b>Success:</b> &nbsp; Lorem ipsum dolor sit amet...
  </div>
  <button type="button">OK</button>
</div>