<!-- Basic modal -->
<div class="modal modal-basic" data-animation="on">
  <div class="modal-content" role="dialog" aria-label="dialog" tabindex=“-1”>
    <div class="modal-header">
      <h4>Share Request</h4>
      <button type="button" class="modal-close-btn" aria-label="modal-close">
        <svg class="icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quia, dolorem qui magnam eaque numquam nobis blanditiis, autem culpa commodi incidunt nulla, maiores voluptate provident nam illo ipsa nihil repellat.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" aria-label="modal-close">Cancel</button>
      <button type="button" class="btn btn-primary">Confirm</button>
    </div>
  </div>
</div>

<!-- Basic modal -->
<div class="modal modal-upload" data-animation="on">
  <div class="modal-content" role="dialog" aria-label="dialog" tabindex=“-1”>
    <div class="modal-header">
      <h4>Data Upload</h4>
      <button type="button" class="modal-close-btn" aria-label="modal-close">
        <svg class="icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <div id="droparea" class="droparea">
        <svg class="icon icon-cloud-upload">
          <use xlink:href="#icon-cloud-upload"></use>
        </svg>
        <input type="file" class="file-upload" />
        <p>Drag file here or click to browse</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-block" aria-label="modal-close">
        Close
      </button>
    </div>
  </div>
</div>

<!-- Info modal w/ one button -->
<div class="modal modal-info" data-animation="on">
  <div class="modal-content" role="dialog" aria-label="dialog" tabindex=“-1”>
    <div class="modal-body">
      <svg class="icon icon-success">
        <use xlink:href="#icon-success"></use>
      </svg>
      <h3>Document share successful</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero necessitatibus numquam nihil.</p>
    </div>
    <div class="modal-footer">
      <a href="/" class="btn btn-primary btn-block">Go back to Documents</a>
    </div>
  </div>
</div>

<!-- Input modal -->
<div class="modal modal-input" data-animation="on">
  <div class="modal-content" role="dialog" aria-label="dialog" tabindex=“-1”>
    <div class="modal-header">
      <h4>Share Request</h4>
      <button type="button" class="modal-close-btn" aria-label="modal-close">
        <svg class="icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <form action="">
        <div class="form-group">
          <label for="dataName">Data Name</label>
          <input type="text" id="dataName" class="input block" placeholder="placeholder.pdf">
        </div>
        <div class="form-group add-user">
          <label for="userId">User ID</label>
          <input type="text" id="userId" class="input block" placeholder="Alex CEO">
          
          <button type="button" class="btn btn-primary btn-icon">
            <svg class="icon icon-add-user">
              <use xlink:href="#icon-add-user"></use>
            </svg>
            Add
          </button>
        </div>
      </form>
      <div class="added-users">
        <p>Test User 1, Alex CEO, Bob</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" aria-label="modal-close">Cancel</button>
      <button type="button" class="btn btn-primary">Share</button>
    </div>
  </div>
</div>

<!-- QR Code modal -->
<div class="modal modal-qrcode" data-animation="on">
  <div class="modal-content" role="dialog" aria-label="dialog" tabindex=“-1”>
    <div class="modal-body">
      <div class="qrcode">
        <img src="./images/qrcode.png" alt="QR Code" />
      </div>
      <h3>Document share request</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero necessitatibus.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-block" aria-label="modal-close">
        Close
      </button>
    </div>
  </div>
</div>