
  <div class="search-area mobile-search"><div class="search-overlay"></div>
    <form action="" class="search-form">
      <div class="form-group">
        <select name="" id="" class="select">
          <option value="All Categories">All Categories</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
        </select>
      </div>
      <input type="search" id="search-input" placeholder="Search" autocomplete="off" />

      <button type="submit" class="btn btn-icon">
        <svg class="icon icon-search">
          <use xlink:href="#icon-search" />
        </svg>  
        Search
      </button>
    </form>
  </div>
