<div class="search-field">
  <form action="" class="search-form">
    <svg class="icon icon-search">
      <use xlink:href="#icon-search" />
    </svg>
    <input type="search" id="search-field" placeholder="Search" autocomplete="off" />

    <div class="search-filter">
      <h3 class="search-filter--title">Filter your search</h3>
      <div class="form-group">
        <select name="" id="" class="select">
          <option value="All Categories">All Categories</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
          <option value="Category">Category</option>
        </select>
      </div>
      <button type="submit" class="btn btn-small btn-primary">Search</button>
      <!-- <ul>
        <li>
          <input type="checkbox" id="All" />
          <label for="All">All</label>
        </li>
        <li>
          <input type="checkbox" id="C1" />
          <label for="C1">Category name</label>
        </li>
        <li>
          <input type="checkbox" id="C2" />
          <label for="C2">Category name</label>
        </li>
        <li>
          <input type="checkbox" id="C3" />
          <label for="C3">Category name</label>
        </li>
      </ul> -->
      
      
      
    </div>
  </form>
</div>
