<div class="table-wrapper">
  <table id="table">
    <thead>
      <tr>
        <th><input type="checkbox" name="" id="" /></th>
        <th>
          Data Name
          <svg class="icon icon-sort-ascending">
            <use xlink:href="#icon-sort-ascending"></use>
          </svg>
        </th>
        <th>Data ID</th>
        <th data-sortDir="asc">
          Date
          <svg class="icon icon-sort-ascending">
            <use xlink:href="#icon-sort-ascending"></use>
          </svg>
        </th>
        <th>
          Category
          <svg class="icon icon-sort-ascending">
            <use xlink:href="#icon-sort-ascending"></use>
          </svg>
        </th>
        <th>Keywords</th>
        <th>Certificate</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-loading">
        <td class="loading-1"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-3"><span></span></td>
      </tr>
      <tr class="table-loading">
        <td class="loading-1"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-3"><span></span></td>
      </tr>
      <tr class="table-loading">
        <td class="loading-1"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-3"><span></span></td>
      </tr>
      <tr class="table-loading">
        <td class="loading-1"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-3"><span></span></td>
      </tr>
      <tr class="table-loading">
        <td class="loading-1"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-3"><span></span></td>
      </tr>
      <tr class="table-loading">
        <td class="loading-1"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-2"><span></span></td>
        <td class="loading-3"><span></span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <div class="hidden sm:block">
    <p>
      Showing
      <span>0</span>
      to
      <span>0</span>
      of
      <span>0</span>
      results
    </p>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-small" id="prev-btn">
      Previous
    </button>
    <button type="button" class="btn btn-default btn-small" id="next-btn">
      Next
    </button>
  </div>
</div>