<div class="table-wrapper">
  <table id="table">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>

<div class="pagination">
  <div class="hidden sm:block">
    <p>
      Showing
      <span>1</span>
      to
      <span>10</span>
      of
      <span>20</span>
      results
    </p>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-small" id="prev-btn">
      Previous
    </button>
    <button type="button" class="btn btn-default btn-small" id="next-btn">
      Next
    </button>
  </div>
</div>